@charset "UTF-8";
@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "OpenSans Bolditalic";
  src: url("../fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "OpenSans ExtraBold";
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "OpenSans ExtraBolditalic";
  src: url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "OpenSans italic";
  src: url("../fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "OpenSans light";
  src: url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "OpenSans lightitalic";
  src: url("../fonts/OpenSans/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "OpenSans SemiBolditalic";
  src: url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Pacifico Regular";
  src: url("../fonts/Pacifico/Pacifico-Regular.woff2") format("woff2"), url("../fonts/Pacifico/Pacifico-Regular.woff") format("woff");
}
body {
  margin: 0;
}

.wr-container-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 85px;
  padding-top: 4vh;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

body {
  overflow: visible;
}

.size-contain {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

.size-contain-wrap {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  flex-basis: 800px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.mobile-menu {
  visibility: hidden;
  display: none;
}
.mobile-menu .menu-btn {
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
}
.mobile-menu .menu-btn .line-1, .mobile-menu .menu-btn .line-2, .mobile-menu .menu-btn .line-3 {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -17.5px;
  margin-top: -2px;
}
.mobile-menu .menu-btn .line-1 {
  transform: translateY(10px);
}
.mobile-menu .menu-btn .line-3 {
  transform: translateY(-10px);
}
.mobile-menu .menu-active .line-1 {
  transform: rotate(-45deg);
  transition: 0.5s;
  background-color: #000;
  z-index: 10;
}
.mobile-menu .menu-active .line-2 {
  background-color: transparent;
  transition: 0.3s;
}
.mobile-menu .menu-active .line-3 {
  transform: rotate(45deg);
  transition: 0.5s;
  background-color: #000;
  z-index: 10;
}

.wr-home {
  background-image: url("../media/jpeg-image/back.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background-position: bottom;
}
.wr-home .logo {
  color: #fff;
  font-size: 45px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  width: 140px;
  height: 140px;
  border: 2px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wr-home .menu-wrap li:not(:last-child):after {
  content: "\\\\";
  font-size: 18px;
  font-family: "OpenSans Bold", serif;
  padding-left: 30px;
  padding-right: 30px;
}
.wr-home .menu-wrap a:hover {
  color: #000000;
}
.wr-home .menu-wrap ul {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.wr-home .menu-wrap a {
  font-size: 18px;
  font-family: "OpenSans SemiBold", serif;
  color: white;
  padding-bottom: 4px;
  padding-top: 4px;
  text-transform: uppercase;
}

.wr-home-container {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.wr-home-container .btn:hover {
  color: #fff;
  background-color: #f39c12;
}
.wr-home-container .content-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.wr-home-container .content-slider h1 {
  font-size: 35px;
  font-family: "OpenSans light", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  margin: 0;
}
.wr-home-container .content-slider .text-preview {
  font-size: 60px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  letter-spacing: -4.3px;
  margin: 0;
  white-space: pre;
}
.wr-home-container .content-slider span {
  font-size: 50px;
  font-family: "OpenSans light", serif;
  text-transform: uppercase;
  letter-spacing: -2.3px;
  margin: 0;
}
.wr-home-container .btn {
  height: 45px;
  width: 160px;
  margin: 0 auto;
  margin-top: 6vh;
  font-family: "OpenSans Bold", serif;
  font-size: 15px;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wr-about {
  padding-top: 80px;
}

.preview-contain-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-contain-text p {
  font-size: 30px;
  font-family: "OpenSans Bold", serif;
  border-right: solid #f39c12 4px;
  padding: 0px 2vh 0px 0px;
  text-transform: uppercase;
  margin-left: 10px;
}
.preview-contain-text span {
  font-size: 13px;
  font-family: "OpenSans Regular", serif;
  text-transform: uppercase;
  margin-left: 20px;
}

.our-icon {
  min-width: 125px;
  height: 120px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  position: relative;
  flex-shrink: 1;
}
.our-icon svg {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.text-color-grey {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
  line-height: 2.3vh;
  margin-top: 35px;
  color: #7f7f7f;
}

.headline {
  margin: 0;
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}

.our-contain {
  display: flex;
  border-bottom: solid 2px #e6e6e6;
  padding: 150px 15px;
  justify-content: space-between;
  max-width: 100%;
}
.our-contain .our-text-contain {
  width: 37%;
}
.our-contain .our-text-contain .text-color-red {
  color: #e74c3c;
  font-family: "OpenSans light", serif;
  font-size: 20px;
}
.our-contain .our-text-contain .wordchild {
  font-size: 15px;
  font-weight: 600;
}
.our-contain .red-fone {
  background-image: url("../media/jpeg-image/red-phone.jpg");
  background-size: cover;
  background-size: cover;
  width: 40%;
  max-height: 100%;
}

.wr-our-skills {
  padding: 0px 30px 40px 30px;
}
.wr-our-skills .size-contain {
  display: flex;
  justify-content: space-between;
}
.wr-our-skills .device-content {
  position: relative;
  display: block;
  width: 35%;
}
.wr-our-skills .device-content .device-image-ipad {
  position: absolute;
  top: 62%;
  transform: translate(-50%, -50%);
  left: 60%;
}
.wr-our-skills .device-content .device-image-iphone {
  position: absolute;
  top: 75%;
  transform: translate(-50%, -50%);
  left: 22%;
}
.wr-our-skills .our-contain-skills {
  display: flex;
  padding-top: 130px;
  flex-direction: column;
  width: 47%;
}
.wr-our-skills .our-contain-skills ul {
  padding: 0px;
  overflow: hidden;
  width: 100%;
}
.wr-our-skills .our-contain-skills ul li {
  padding-top: 15px;
}
.wr-our-skills .our-contain-skills ul li p {
  font-size: 16px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-our-skills .our-contain-skills ul li img {
  margin-top: -1vh;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  height: 10px;
  position: absolute;
}
.wr-our-skills .our-contain-skills ul li .orange-line-design, .wr-our-skills .our-contain-skills ul li .orange-line-development, .wr-our-skills .our-contain-skills ul li .orange-line-wordpress, .wr-our-skills .our-contain-skills ul li .orange-line-drupal {
  max-width: 550px;
  height: 10px;
  background-color: #e6e6e6;
  position: relative;
}
.wr-our-skills .our-contain-skills ul li .orange-line-design::after {
  content: "";
  height: 100%;
  width: 88%;
  background-color: #f39c12;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-our-skills .our-contain-skills ul li .orange-line-development::after {
  content: "";
  height: 100%;
  width: 76%;
  background-color: #f39c12;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-our-skills .our-contain-skills ul li .orange-line-wordpress::after {
  content: "";
  height: 100%;
  width: 81%;
  background-color: #f39c12;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-our-skills .our-contain-skills ul li .orange-line-drupal::after {
  content: "";
  height: 100%;
  width: 71%;
  background-color: #f39c12;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-our-skills .our-contain-skills .statistics-number {
  font-size: 16px;
  font-family: "OpenSans Light", serif;
}
.wr-our-skills .our-contain-skills .our-content-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wr-our-skills .our-contain-skills .our-content-box .our-text-contain {
  width: 100%;
  padding-left: 30px;
}
.wr-our-skills .our-contain-skills .our-content-box .text-color-grey {
  margin-top: 15px;
  width: 100%;
}

.content-forest {
  padding: 50px 0px 50px 0;
  background-image: url(../media/jpeg-image/jungle.jpg);
  background-size: cover;
  position: relative;
  height: 645px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-forest .content-forest-text {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-forest .content-forest-text h2 {
  font-size: 45px;
  margin-bottom: 15px;
  font-family: "OpenSans Bold", serif;
}
.content-forest .content-forest-text h2 span::before {
  content: "“";
  color: #fff;
  font-family: "OpenSans Bold", serif;
}
.content-forest .content-forest-text h2 span::after {
  content: "“";
  color: #fff;
}
.content-forest .content-forest-text .orange-line {
  background-color: #f39c12;
  height: 4px;
  width: 50px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}
.content-forest .content-forest-text .name {
  font-size: 24px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}

.wr-team-contain {
  padding: 20px 30px 80px 30px;
  overflow: auto;
}
.wr-team-contain .people-profile:hover {
  background-color: #f0f0f0;
  border-top: solid #f39c12 3px;
}
.wr-team-contain .people-profile:hover span {
  background-color: #f39c12;
}
.wr-team-contain .team-contain {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wr-team-contain .people-profile {
  border-top: solid transparent 3px;
  text-align: center;
  max-width: 25%;
  height: 470px;
}
.wr-team-contain .people-profile img {
  margin-top: 5vh;
  border: solid #c9c9c9 2px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  width: 200px;
  height: 200px;
}
.wr-team-contain .people-profile .profile-name {
  margin-top: 0.5vh;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  color: #000;
}
.wr-team-contain .people-profile p {
  margin-top: -3vh;
  font-family: "OpenSans Regular", serif;
  font-size: 15px;
  color: #ccc;
}
.wr-team-contain .people-profile span {
  background-color: #ccc;
  width: 20px;
  height: 5px;
  display: flex;
  margin: 0 auto;
  margin-top: -0.8vh;
}
.wr-team-contain .people-profile .other {
  margin-top: 1vh;
  font-family: "OpenSans Light", serif;
  font-size: 16px;
  color: #919191;
}
.wr-team-contain .people-profile ul {
  list-style-type: none;
  display: flex;
}
.wr-team-contain .people-profile li {
  margin: -2px 9px;
}
.wr-team-contain .people-profile svg {
  color: grey;
  fill-opacity: 1;
  stroke: #333;
  stroke-width: 0px;
  stroke-opacity: 0;
  width: 20px;
  height: 20px;
}
.wr-team-contain .people-profile svg:hover {
  color: #f39c12;
}

.circle-contain-border {
  width: 125px;
  height: 125px;
  border: 2px solid #e89612;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.circle-content {
  display: flex;
}
.circle-content .circle-contain:hover .circle-contain-border {
  border: 2px solid #fff;
}
.circle-content .circle-contain:hover .circle-contain-border svg {
  fill: #e89612;
}
.circle-content p {
  margin: 0;
  margin-top: 2vh;
  color: #fff;
  font-size: 45px;
  font-family: "OpenSans Bold", serif;
}
.circle-content span {
  margin: 0;
  margin-top: -1.3vh;
  color: #fff;
  font-size: 25px;
  font-family: "OpenSans Bold", serif;
}
.circle-content .circle-contain {
  text-align: center;
  margin: 0 auto;
}
.circle-content svg {
  fill-opacity: 1;
  fill: #fff;
  stroke-width: 0px;
  stroke-opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wr-service-content {
  padding: 50px 30px 0px 30px;
}
.wr-service-content .service-slide:hover .circle-contain-border {
  background-color: #e89612;
}
.wr-service-content .service-slide:hover .circle-contain-border svg {
  fill: #fff;
}
.wr-service-content .service-content {
  border-bottom: 2px solid #e6e6e6;
  padding: 100px 0px 150px 0px;
  display: flex;
  justify-content: space-between;
}
.wr-service-content .service-content .circle-contain-border {
  position: relative;
  width: 90px;
  height: 90px;
}
.wr-service-content .service-content .circle-contain-border svg {
  fill: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wr-service-content .service-content .service-slide {
  width: 33%;
  text-align: center;
  margin-right: 25px;
}
.wr-service-content .service-content .service-slide p {
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-service-content .service-content .service-slide span {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
}

.wr-package-service {
  padding: 100px 30px 0px 30px;
}
.wr-package-service .size-contain {
  display: flex;
  justify-content: space-around;
}
.wr-package-service .package-pricing {
  max-width: 315px;
}
.wr-package-service .package-pricing .package-pricing-border {
  display: flex;
  width: 120px;
  height: 120px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  position: relative;
}
.wr-package-service .package-pricing .package-pricing-border svg {
  position: absolute;
  top: 50;
  top: 50%;
  margin-right: -50%;
  right: 75%;
  transform: translate(-50%, -50%);
}
.wr-package-service .package-pricing p {
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-package-service .package-pricing span {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
}

.pricing-table {
  display: flex;
  height: 440px;
  max-width: 750px;
  flex-basis: 750px;
}
.pricing-table .table-slider {
  max-width: 100%;
  flex-grow: 1;
}
.pricing-table .table-basic, .pricing-table .table-gold, .pricing-table .table-silver {
  max-width: 100%;
  height: 440px;
  outline: none;
  flex-grow: 1;
}
.pricing-table .table-basic .stroke-price, .pricing-table .table-gold .stroke-price, .pricing-table .table-silver .stroke-price {
  max-width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border: solid 0.1px #e6e6e6;
}
.pricing-table .table-basic .stroke-price .orange-line, .pricing-table .table-gold .stroke-price .orange-line, .pricing-table .table-silver .stroke-price .orange-line {
  position: absolute;
  background-color: #f39c12;
  height: 4px;
  width: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pricing-table .table-basic .stroke-price p, .pricing-table .table-gold .stroke-price p, .pricing-table .table-silver .stroke-price p {
  font-size: 22px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pricing-table .table-basic .stroke-price .price, .pricing-table .table-gold .stroke-price .price, .pricing-table .table-silver .stroke-price .price {
  font-size: 22px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pricing-table .table-basic ul, .pricing-table .table-gold ul, .pricing-table .table-silver ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #b1b1b1;
}
.pricing-table .table-basic ul li, .pricing-table .table-gold ul li, .pricing-table .table-silver ul li {
  border: solid 0.1px #e6e6e6;
  max-width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans Regular", serif;
  font-size: 15px;
}
.pricing-table .table-basic ul .first-li, .pricing-table .table-gold ul .first-li, .pricing-table .table-silver ul .first-li {
  background-color: #fafafa;
}
.pricing-table .table-basic .stroke-button, .pricing-table .table-gold .stroke-button, .pricing-table .table-silver .stroke-button {
  max-width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: solid 0.1px #e6e6e6;
}
.pricing-table .table-basic .stroke-button button, .pricing-table .table-gold .stroke-button button, .pricing-table .table-silver .stroke-button button {
  width: 50%;
  height: 40px;
  font-family: "OpenSans Bold", serif;
  font-size: 14px;
  overflow: auto;
  text-transform: uppercase;
  border: solid 2px #f39c12;
  background-color: #fafafa;
}

.table-basic:hover .stroke-price, .table-gold:hover .stroke-price, .table-silver:hover .stroke-price {
  background-color: #f39c12;
  color: #fff;
  z-index: 1;
  border-color: #f39c12;
  transform: scale(1.04);
}
.table-basic:hover .stroke-price .orange-line, .table-gold:hover .stroke-price .orange-line, .table-silver:hover .stroke-price .orange-line {
  background-color: #fff;
}
.table-basic:hover ul .first-li, .table-gold:hover ul .first-li, .table-silver:hover ul .first-li {
  background-color: #e6e6e6;
  transform: scaleX(1.04);
}
.table-basic:hover ul .second-li, .table-gold:hover ul .second-li, .table-silver:hover ul .second-li {
  background-color: #f2f2f2;
  transform: scaleX(1.04);
  border-color: #f2f2f2;
}
.table-basic:hover .stroke-button, .table-gold:hover .stroke-button, .table-silver:hover .stroke-button {
  background-color: #e6e6e6;
  border-color: #f2f2f2;
  z-index: 1;
  transform: scale(1.04);
}
.table-basic:hover button:hover, .table-gold:hover button:hover, .table-silver:hover button:hover {
  background-color: #f39c12;
  color: #fff;
}

.wr-portfolio .portfolio-container .portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wr-portfolio .portfolio-container .portfolio-content .name {
  color: #fff;
  font-size: 24px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-portfolio .portfolio-container .portfolio-content span {
  color: #fff;
  width: 830px;
  text-align: center;
  font-size: 22px;
  font-family: "OpenSans Light", serif;
  margin-bottom: 20px;
}
.wr-portfolio .portfolio-container .portfolio-content .orange-line {
  background-color: #f39c12;
  height: 4px;
  width: 50px;
}
.wr-portfolio .portfolio-container .portfolio-content .portfolio-avatar {
  border: solid 1px #fff;
  background-color: #f39c12;
  border-radius: 50%;
}
.wr-portfolio .portfolio-container .portfolio-content .portfolio-avatar img {
  width: 106px;
  height: 106px;
  object-fit: cover;
  border-radius: 50%;
}

.project-portfolio .project-container {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 100px;
}
.project-portfolio .preview-contain-text {
  padding-top: 50px;
}
.project-portfolio .featured-project {
  padding-top: 80px;
}
.project-portfolio .featured-project .phone-picture {
  position: relative;
  object-position: center;
  height: 580px;
}
.project-portfolio .featured-project .digital-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 105px;
  margin: 0 auto;
  padding-top: 50.5px;
}
.project-portfolio .featured-project .digital-buttons .arrow-prev, .project-portfolio .featured-project .digital-buttons .arrow-next, .project-portfolio .featured-project .digital-buttons .arrow-cross {
  position: relative;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border: solid 2px #e6e6e6;
}
.project-portfolio .featured-project .digital-buttons .arrow-prev svg, .project-portfolio .featured-project .digital-buttons .arrow-next svg, .project-portfolio .featured-project .digital-buttons .arrow-cross svg {
  background-color: transparent;
  width: 10px;
  height: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.project-portfolio .featured-project .featured-text {
  text-align: center;
}
.project-portfolio .featured-project .featured-text p {
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.project-portfolio .featured-project .featured-text span {
  font-family: "OpenSans Regular", serif;
  font-size: 14px;
  color: #808080;
}

.project-portfolio .digital-buttons .arrow-prev:hover, .project-portfolio .digital-buttons .arrow-next:hover, .project-portfolio .digital-buttons .arrow-cross:hover {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #fff;
}

.hide {
  display: none;
}

.wr-sorting-project {
  padding: 80px 30px 0px 30px;
}
.wr-sorting-project .filter {
  padding-bottom: 80px;
  max-width: 70%;
  overflow: auto;
  margin: 0 auto;
}
.wr-sorting-project .filter ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.wr-sorting-project .filter ul button {
  background-color: transparent;
  font-size: 14px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0;
}
.wr-sorting-project .filter ul li:not(:last-child):after {
  content: "\\\\";
  color: #bababa;
  font-size: 14px;
  font-family: "OpenSans Bold", serif;
  padding-left: 20px;
  display: none;
}
.wr-sorting-project .filter ul button:hover {
  color: #f39c12;
}
.wr-sorting-project .filter .active {
  color: #f39c12;
}
.wr-sorting-project .menu-gallery {
  display: flex;
  flex-wrap: wrap;
}
.wr-sorting-project .menu-gallery a {
  max-width: 24%;
  padding-right: 10px;
  position: relative;
}
.wr-sorting-project .menu-gallery a .orange-plus {
  height: 98px;
  width: 98px;
  background-color: #f39c12;
  border-radius: 50%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 37%;
  right: 12%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.wr-sorting-project .menu-gallery a .orange-plus svg {
  color: #fff;
  height: 50px;
  width: 50px;
}
.wr-sorting-project .menu-gallery a .slide-gallery {
  position: relative;
  text-align: center;
  height: 300px;
}
.wr-sorting-project .menu-gallery a .slide-gallery img {
  height: 220px;
  width: 100%;
}
.wr-sorting-project .menu-gallery a .slide-gallery p {
  font-size: 15px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}
.wr-sorting-project .menu-gallery a .slide-gallery span {
  font-size: 14px;
  font-family: "OpenSans Regular", serif;
  color: #9e9e9e;
}
.wr-sorting-project a:hover .slide-gallery {
  transition: 0.5s;
  opacity: 0.8;
}
.wr-sorting-project a:hover .slide-gallery p {
  color: #f39c12;
}
.wr-sorting-project a:hover .slide-gallery .orange-plus {
  transition: 1s;
  z-index: 1;
}

.wr-content-blog .circle-contain-border {
  height: 105px;
  width: 105px;
  border-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wr-content-blog .circle-contain-border svg {
  height: 30px;
  width: 30px;
  color: #f39c12;
}
.wr-content-blog .content-forest p {
  font-size: 22px;
  font-family: "OpenSans Bold", serif;
  max-width: 830px;
}
.wr-content-blog .content-forest a {
  color: #f39c12;
}
.wr-content-blog .content-forest span {
  font-size: 15px;
  font-family: "OpenSans Light", serif;
  color: #767575;
}

.wr-blog {
  padding-top: 80px;
}
.wr-blog .blog-post-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0px 30px;
  width: 95%;
}
.wr-blog .blog-post-container .blog-post {
  max-width: 45%;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}
.wr-blog .blog-post-container .blog-post img {
  height: 300px;
  width: 99.7%;
}
.wr-blog .blog-post-container .blog-post .blog-text {
  background-color: #fff;
  color: #000;
  height: 310px;
  width: 445px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 73%;
  right: -43.3%;
  transform: translate(-50%, -50%);
}
.wr-blog .blog-post-container .blog-post .blog-text p {
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-blog .blog-post-container .blog-post .blog-text span {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
  color: #c5c5c5;
  width: 410px;
}
.wr-blog .blog-post-container .blog-post .blog-text button {
  outline: none;
  width: 105px;
  height: 35px;
  text-transform: uppercase;
  border: solid 2px #f39c12;
  background-color: transparent;
  font-size: 13px;
  font-family: "OpenSans Bold", serif;
  margin-top: 20px;
}
.wr-blog .blog-post-container .blog-post .blog-icon {
  height: 44px;
  width: 44px;
  background-color: #f39c12;
  position: absolute;
  top: 50.5%;
  left: 13.82%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wr-blog .blog-post-container .blog-post .blog-icon img {
  height: 40px;
  width: 40px;
}
.wr-blog .blog-post-container .blog-post .description-text {
  height: 100px;
  width: 100px;
  text-align: right;
  padding-top: 17px;
  margin-left: -5px;
}
.wr-blog .blog-post-container .blog-post .description-text p {
  font-size: 14px;
  font-family: "OpenSans Regular", serif;
  color: #c5c5c5;
  margin-top: -5px;
}
.wr-blog .blog-post-container .blog-post button:hover {
  color: #fff;
  background-color: #f39c12;
}
.wr-blog .blog-post-container .blog-post .grid-text-container {
  display: grid;
  grid-template-columns: 50fr 50fr 50fr 50fr 50fr 50fr 50fr 50fr 50fr 50fr 50fr;
  grid-template-rows: 60px 60fr;
  margin-top: -64px;
  background-color: transparent;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-icon {
  grid-column: 2;
  height: 60px;
  width: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-icon img {
  width: 45px;
  height: 45px;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-description-text {
  grid-row: 2/3;
  grid-column: 1/3;
  text-align: right;
  padding-top: 15px;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-description-text p {
  font-size: 14px;
  font-family: "OpenSans Regular", serif;
  color: #c5c5c5;
  margin-top: -5px;
  grid-column: 2/12;
  grid-row: 2/4;
  width: 90%;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-description-text p span {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
  color: #c5c5c5;
  grid-column: 2/12;
  grid-row: 1/3;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-blog-text {
  grid-column: 3/12;
  grid-row: 1/4;
  background-color: #fff;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-blog-text h3 {
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  padding-left: 15px;
  background-color: #fff;
  grid-column: 3/12;
  grid-row: 1/2;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-blog-text p {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
  color: #c5c5c5;
  grid-column: 3/12;
  grid-row: 2/3;
  padding-left: 15px;
  width: 90%;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-blog-text button {
  grid-column: 3/6;
  grid-row: 4/5;
  outline: none;
  width: 105px;
  height: 35px;
  text-transform: uppercase;
  border: solid 2px #f39c12;
  background-color: transparent;
  font-size: 13px;
  font-family: "OpenSans Bold", serif;
  margin-top: 10px;
  margin-left: 15px;
}
.wr-blog .blog-post-container .blog-post .grid-text-container .grid-blog-text button:hover {
  color: #fff;
  background-color: #f39c12;
}

.wr-our-clients .content-forest .size-contain {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.wr-our-clients .content-forest .size-contain p {
  color: #fff;
  font-size: 30px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 50px;
}
.wr-our-clients .content-forest .size-contain .clients {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  overflow: auto;
}
.wr-our-clients .content-forest .size-contain .clients .card-client {
  height: 160px;
  max-width: 25%;
  border: solid 2px #574d50;
  display: flex;
  justify-content: center;
}

.wr-contact {
  padding-top: 70px;
}
.wr-contact .contact-contain {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 90px;
}
.wr-contact .contact-contain .form-drop-message {
  width: 620px;
}
.wr-contact .contact-contain .form-drop-message p {
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-contact .contact-contain .form-drop-message .form-name {
  width: 100%;
  position: relative;
}
.wr-contact .contact-contain .form-drop-message .form-name input {
  width: 100%;
  height: 45px;
  border: solid 2px #d9d9d9;
  padding: 0 16px;
  font-size: 15px;
  font-family: "OpenSans Regular", serif;
  box-sizing: border-box;
  color: #808080;
}
.wr-contact .contact-contain .form-drop-message .form-name svg {
  height: 22px;
  width: 25px;
  fill: #c2c2c2;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
}
.wr-contact .contact-contain .form-drop-message .form-name input:focus {
  border-color: #f39c12;
}
.wr-contact .contact-contain .form-drop-message .form-name input:focus + svg {
  fill: #f39c12;
}
.wr-contact .contact-contain .form-drop-message .form-mail {
  position: relative;
  padding-top: 10px;
  width: 100%;
}
.wr-contact .contact-contain .form-drop-message .form-mail input {
  width: 100%;
  height: 45px;
  border: solid 2px #d9d9d9;
  padding: 0 16px;
  font-size: 15px;
  font-family: "OpenSans Regular", serif;
  box-sizing: border-box;
  color: #808080;
}
.wr-contact .contact-contain .form-drop-message .form-mail svg {
  height: 22px;
  width: 25px;
  fill: #c2c2c2;
  position: absolute;
  top: 59%;
  right: 3%;
  transform: translate(-50%, -50%);
}
.wr-contact .contact-contain .form-drop-message .form-mail input:focus {
  border-color: #f39c12;
}
.wr-contact .contact-contain .form-drop-message .form-mail input:focus + svg {
  fill: #f39c12;
}
.wr-contact .contact-contain .form-drop-message .form-message {
  position: relative;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 25px;
}
.wr-contact .contact-contain .form-drop-message .form-message textarea {
  width: 100%;
  height: 125px;
  border: solid 2px #d9d9d9;
  padding: 0 16px;
  font-size: 15px;
  font-family: "OpenSans Regular", serif;
  box-sizing: border-box;
  resize: none;
  color: #808080;
  padding: 10px 16px;
}
.wr-contact .contact-contain .form-drop-message .form-message svg {
  height: 22px;
  width: 25px;
  fill: #c2c2c2;
  position: absolute;
  top: 25%;
  right: 3%;
  transform: translate(-50%, -50%);
}
.wr-contact .contact-contain .form-drop-message .form-message textarea:focus {
  border-color: #f39c12;
}
.wr-contact .contact-contain .form-drop-message .form-message textarea:focus + svg {
  fill: #f39c12;
}
.wr-contact .contact-contain .form-drop-message button {
  height: 40px;
  width: 130px;
  border: solid 2px #d9d9d9;
  background-color: transparent;
  font-size: 14px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-contact .contact-contain .form-drop-message button:hover {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #fff;
}
.wr-contact .contact-contain .form-contact-info {
  width: 490px;
}
.wr-contact .contact-contain .form-contact-info p {
  font-size: 20px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-contact .contact-contain .form-contact-info span {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
  color: #737373;
}
.wr-contact .contact-contain .form-contact-info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.wr-contact .contact-contain .form-contact-info ul li {
  padding-bottom: 7px;
  display: flex;
}
.wr-contact .contact-contain .form-contact-info ul li p {
  font-size: 16px;
  font-family: "OpenSans Regular", serif;
  text-transform: none;
  padding-left: 15px;
  margin-top: 7px;
}
.wr-contact .contact-contain .form-contact-info .circle-contain-border {
  height: 35px;
  width: 35px;
  display: block;
}
.wr-contact .contact-contain .form-contact-info .circle-contain-border svg {
  height: 21px;
  width: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  width: 100%;
  height: 580px;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.wr-footer {
  padding-top: 20px;
}
.wr-footer footer {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.wr-footer footer .about-us {
  font-size: 14px;
  font-family: "OpenSans Bold", serif;
  text-transform: uppercase;
}
.wr-footer footer .social-links ul {
  padding: 0;
  display: flex;
}
.wr-footer footer .social-links ul li {
  padding-right: 20px;
}
.wr-footer footer .social-links ul li a svg {
  height: 18px;
  width: 18px;
}
.wr-footer footer .social-links a svg:hover {
  color: #f39c12;
}

@media (max-width: 992px) {
  header {
    padding-top: 0px;
    margin: 0;
  }

  .preview-contain-text {
    padding: 0 20px;
  }
  .preview-contain-text span {
    font-size: 12px;
    font-weight: 600;
  }

  .wr-home {
    clip-path: none;
  }

  .mobile-menu {
    position: fixed;
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    background: #e74c3c;
    background: linear-gradient(90deg, #e74c3c 0%, #ab5454 9%, #c6c416 89%, #e74c3c 100%);
    width: 100%;
    opacity: 0.9;
    height: 60px;
    z-index: 10;
    border-bottom: solid 4px #6d1f63b3;
  }
  .mobile-menu .menu-btn {
    margin-right: 40px;
  }
  .mobile-menu .menu-wrap {
    visibility: hidden;
    opacity: 1;
    position: fixed;
    left: 0;
    top: -100vh;
    background: #e74c3c;
    background: linear-gradient(90deg, #e74c3c 1%, #e74c3c 1%, #ab5454 21%, #e74c3c 45%, #c1514b 49%, #e74c3c 54%, #bb524e 74%, #e74c3c 100%);
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
  }
  .mobile-menu .menu-wrap li:not(:last-child):after {
    content: "";
    font-size: 18px;
    font-family: "OpenSans Bold", serif;
    padding: 0;
  }
  .mobile-menu .menu-wrap ul {
    padding: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu .menu-wrap ul li a {
    font-size: 30px;
    font-family: "OpenSans Bold", serif;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 20px;
  }
  .mobile-menu .menu-active.menu-wrap {
    top: 0;
    visibility: visible;
    opacity: 1;
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 98vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e74c3c;
    background: linear-gradient(90deg, #e74c3c 1%, #e74c3c 1%, #ab5454 21%, #e74c3c 45%, #c1514b 49%, #e74c3c 54%, #bb524e 74%, #e74c3c 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  }
  .mobile-menu .menu-active.menu-wrap ul {
    padding: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
    display: none;
  }
  .mobile-menu .menu-active.menu-wrap ul li {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
  .mobile-menu .menu-active.menu-wrap ul li a {
    color: #000;
    font-size: 30px;
    font-family: "OpenSans Bold", serif;
    text-transform: uppercase;
  }
  .mobile-menu .menu-active.menu-wrap ul li a:hover {
    color: #f39c12;
    border-bottom: solid 3px #f39c12;
  }
  .mobile-menu .menu-active.menu-wrap .logo {
    color: #000;
    font-size: 45px;
    font-family: "OpenSans Bold", serif;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 20px;
    border: solid 3px #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wr-home .menu-wrap:first-of-type {
    padding: 0;
  }
  .wr-home .menu-wrap ul {
    visibility: hidden;
    display: none;
  }
  .wr-home .mobile-menu .menu-wrap ul {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  .wr-home .wr-home-container {
    padding-top: 30vh;
  }
  .wr-home .wr-home-container .content-slider p {
    font-size: 60px;
  }
  .wr-home .wr-home-container .content-slider h1 {
    font-size: 60px;
  }
  .wr-home .wr-home-container .content-slider span {
    font-size: 50px;
  }
  .wr-home .wr-home-container .content-slider .btn {
    margin-top: 10vh;
    font-size: 17px;
    height: 55px;
    width: 170px;
  }
  .wr-home .logo {
    display: none;
  }

  .wr-about {
    padding: 0px;
  }
  .wr-about .size-contain .our-contain {
    padding: 70px 15px;
    justify-content: space-around;
  }
  .wr-about .size-contain .our-contain .our-icon {
    display: none;
  }
  .wr-about .size-contain .our-contain .our-text-contain {
    max-width: 505px;
  }
  .wr-about .size-contain .our-contain .red-fone {
    width: 28%;
    height: 370px;
    border-radius: 5px;
    padding-right: 20px;
  }

  .wr-our-skills {
    padding-bottom: 20px;
  }
  .wr-our-skills .size-contain .our-contain-skills {
    padding-top: 45px;
  }
  .wr-our-skills .size-contain .our-contain-skills li {
    padding-top: 0px;
  }
  .wr-our-skills .size-contain .our-contain-skills .our-icon {
    display: none;
  }
  .wr-our-skills .size-contain .our-contain-skills .our-text-contain {
    padding-left: 0;
    padding-right: 50px;
  }
  .wr-our-skills .size-contain .our-contain-skills .our-text-contain ul {
    margin-left: 0;
  }
  .wr-our-skills .size-contain .our-contain-skills .our-text-contain .headline {
    margin-left: 0;
  }
  .wr-our-skills .size-contain .our-contain-skills .our-text-contain .text-color-grey {
    margin-left: 0;
  }
  .wr-our-skills .device-content .device-image-ipad {
    display: none;
  }
  .wr-our-skills .device-content .device-image-iphone {
    top: 59%;
    left: 81%;
  }

  .content-forest .content-forest-text {
    padding-top: 100px;
  }
  .content-forest .content-forest-text h2 {
    font-size: 30px;
  }
  .content-forest .content-forest-text .name {
    font-size: 20px;
  }

  .wr-team-contain {
    padding-bottom: 0;
  }
  .wr-team-contain .size-contain .team-contain {
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .wr-team-contain .size-contain .team-contain .other {
    font-size: 13px;
  }
  .wr-team-contain .size-contain .team-contain .people-profile {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wr-team-contain .size-contain .team-contain .people-profile ul {
    padding: 0px;
  }

  .wr-service-content {
    padding-top: 50px;
  }

  .wr-package-service {
    padding-bottom: 30px;
  }
  .wr-package-service .package-pricing {
    padding-left: 20px;
    max-width: 215px;
  }
  .wr-package-service .pricing-table {
    padding-right: 15px;
  }

  .project-portfolio .featured-project {
    padding-top: 10px;
  }
  .project-portfolio .featured-project .digital-buttons {
    padding-top: 30px;
    max-width: 185px;
  }
  .project-portfolio .featured-project .digital-buttons .arrow-prev, .project-portfolio .featured-project .digital-buttons .arrow-cross, .project-portfolio .featured-project .digital-buttons .arrow-next {
    width: 45px;
    height: 45px;
    border-radius: 15%;
  }
  .project-portfolio .featured-project .digital-buttons .arrow-prev svg, .project-portfolio .featured-project .digital-buttons .arrow-cross svg, .project-portfolio .featured-project .digital-buttons .arrow-next svg {
    width: 35px;
    height: 30px;
  }
  .project-portfolio .featured-project .featured-text p {
    font-size: 24px;
  }
  .project-portfolio .featured-project .featured-text span {
    font-size: 20px;
  }
  .project-portfolio .project-container {
    padding-bottom: 30px;
  }

  .wr-sorting-project {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .wr-sorting-project .filter {
    padding-bottom: 40px;
  }
  .wr-sorting-project .filter ul {
    font-size: 17px;
  }
  .wr-sorting-project .filter ul li:not(:last-child):after {
    padding-left: 10px;
  }
  .wr-sorting-project .menu-gallery a {
    max-width: 230px;
    margin: 0 auto;
  }
  .wr-sorting-project .menu-gallery a .slide-gallery p {
    font-size: 17px;
  }
  .wr-sorting-project .menu-gallery a .slide-gallery span {
    font-size: 17px;
  }
  .wr-sorting-project .menu-gallery a .slide-gallery .orange-plus {
    top: 38%;
    right: 7%;
  }

  .wr-content-blog .content-forest-text .circle-contain-border {
    height: 135px;
    width: 135px;
  }
  .wr-content-blog .content-forest-text .circle-contain-border svg {
    height: 50px;
    width: 50px;
  }
  .wr-content-blog .content-forest p {
    font-size: 25px;
  }
  .wr-content-blog .content-forest span {
    font-size: 24px;
  }

  .wr-blog {
    padding-top: 10px;
  }
  .wr-blog .blog-post-container .blog-post {
    max-width: 45%;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .wr-our-clients .content-forest .size-contain .clients {
    justify-content: space-evenly;
    padding-top: 30px;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .wr-our-clients .content-forest .size-contain .clients .card-client {
    width: 23%;
  }
  .wr-our-clients .content-forest .size-contain .clients .card-client img {
    width: 90%;
  }

  .wr-contact {
    padding-top: 0;
  }
  .wr-contact .contact-contain {
    padding-bottom: 0px;
  }
  .wr-contact .contact-contain .form-drop-message {
    max-width: 620px;
  }
  .wr-contact .contact-contain .form-drop-message form {
    padding-left: 30px;
    width: 85%;
  }
  .wr-contact .contact-contain .form-contact-info {
    max-width: 490px;
    padding-right: 30px;
  }
  .wr-contact .contact-contain .circle-contain-border {
    min-width: 35px;
    min-height: 35px;
  }

  .wr-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .preview-contain-text {
    padding: 20px 20px;
  }
  .preview-contain-text span {
    font-size: 12px;
    font-weight: 200;
    width: 55%;
  }

  .wr-home .wr-home-container {
    padding-top: 35vh;
  }
  .wr-home .wr-home-container .content-slider h1 {
    font-size: 50px;
  }
  .wr-home .wr-home-container .content-slider span {
    font-size: 40px;
  }

  .wr-package-service {
    padding: 40px 30px 0px 30px;
  }
  .wr-package-service .pricing-table {
    flex-basis: 0;
    max-width: 100%;
  }
  .wr-package-service .pricing-table .table-basic, .wr-package-service .pricing-table .table-gold, .wr-package-service .pricing-table .table-silver {
    max-width: 250px;
  }
  .wr-package-service .pricing-table .table-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wr-package-service .size-contain {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .wr-package-service .package-pricing {
    padding: 0 0 40px 0;
    max-width: 400px;
  }
  .wr-package-service .package-pricing .package-pricing-border {
    margin: 0 auto;
  }

  .wr-portfolio .portfolio-container .portfolio-content span {
    width: 50%;
  }
  .wr-portfolio .portfolio-container .portfolio-content .portfolio-avatar {
    margin-bottom: 60px;
  }

  .wr-sorting-project .filter {
    max-width: 100%;
  }
  .wr-sorting-project ul {
    flex-wrap: wrap;
  }
  .wr-sorting-project ul li {
    padding-right: 20px;
  }

  .wr-content-blog .content-forest p {
    width: 55%;
  }

  .wr-our-clients .content-forest .size-contain .clients {
    flex-wrap: wrap;
  }
  .wr-our-clients .content-forest .size-contain .clients .card-client {
    min-width: 30%;
    margin: 20px 50px;
  }
}
@media (max-width: 570px) {
  .preview-contain-text span {
    font-size: 11px;
    width: 70%;
  }

  .wr-home .wr-home-container .content-slider h1 {
    font-size: 40px;
  }
  .wr-home .wr-home-container .content-slider span {
    font-size: 35px;
  }

  .our-contain .our-text-contain .text-color-red {
    font-size: 17px;
  }
  .our-contain .our-text-contain .text-color-grey {
    font-size: 14px;
  }

  .wr-our-skills .device-content .device-image-iphone {
    top: 58%;
    left: 75%;
  }
  .wr-our-skills .device-content .device-image-iphone img {
    width: 260%;
  }
  .wr-our-skills .size-contain .our-contain-skills {
    padding-top: 70px;
  }
  .wr-our-skills .size-contain .our-contain-skills ul {
    display: none;
  }

  .wr-team-contain .size-contain .team-contain .people-profile-slider {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-content {
    flex-wrap: wrap;
  }
  .circle-content .circle-contain {
    width: 50%;
    margin-top: 25px;
  }

  .wr-service-content .service-content {
    padding: 30px 0px 30px 0px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .wr-service-content .service-content .service-slide {
    width: 44%;
    margin: 0px 25px 25px 0px;
  }

  .wr-blog .blog-post-container {
    flex-direction: column;
  }
  .wr-blog .blog-post-container .blog-post:nth-child(2) {
    margin-left: 25px;
  }

  .wr-our-clients .content-forest .size-contain .clients .card-client {
    min-width: 25%;
  }

  .wr-contact .contact-contain {
    flex-direction: column;
  }
  .wr-contact .contact-contain .form-drop-message {
    width: 100%;
  }
  .wr-contact .contact-contain .form-drop-message form {
    width: 80%;
  }
  .wr-contact .contact-contain .form-contact-info {
    padding: 0 0 0 30px;
    width: 80%;
  }
}
.wr-footer footer {
  display: block;
}

@media (max-width: 501px) {
  .wr-sorting-project .filter ul {
    padding: 0;
    justify-content: center;
  }
  .wr-sorting-project .filter ul li {
    padding-right: 10px;
  }

  .preview-contain-text {
    flex-direction: column;
  }
  .preview-contain-text span {
    font-size: 10px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .preview-contain-text p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: solid #f39c12 4px;
    border-right: none;
  }

  .wr-home .wr-home-container .content-slider span {
    font-size: 25px;
  }

  .content-forest .content-forest-text h2 {
    font-size: 22px;
  }

  .wr-our-skills .device-content .device-image-iphone {
    position: relative;
  }
  .wr-our-skills .device-content .device-image-iphone img {
    width: 70%;
  }

  .size-contain-wrap .circle-content p {
    font-size: 35px;
  }
  .size-contain-wrap .circle-content span {
    font-size: 20px;
  }

  .wr-service-content .service-content .service-slide {
    width: 100%;
    margin: 0px 0px 25px 0px;
  }

  .wr-sorting-project .menu-gallery a {
    padding: 0px;
  }

  .mobile-menu .menu-active.menu-wrap .logo {
    width: 58px;
    height: 50px;
    font-size: 18px;
  }
}
@media (max-width: 447px) {
  .wr-blog .blog-post-container .blog-post:nth-child(2) {
    margin-left: 0;
  }
  .wr-blog .blog-post-container .blog-post {
    max-width: 47%;
  }
}
@media (max-width: 420px) {
  .our-contain {
    flex-direction: column;
  }
  .our-contain .our-text-contain {
    width: 100%;
  }
  .our-contain .red-fone {
    width: 95% !important;
  }

  .wr-portfolio .portfolio-container .portfolio-content .name {
    padding-top: 100px;
  }

  .wr-content-blog .content-forest p {
    font-size: 18px;
  }

  .text-color-grey {
    font-size: 11px;
  }

  .wr-our-clients .content-forest .size-contain p {
    padding: 0;
  }
  .wr-our-clients .content-forest .size-contain .clients .card-client {
    min-width: 30%;
    height: 50%;
    margin: 20px 15px;
  }
  .wr-our-clients .content-forest .size-contain .clients .card-client:nth-child(2) {
    width: 105%;
  }

  .wr-blog .blog-post-container .blog-post {
    max-width: 45%;
  }

  .wr-our-skills .size-contain .our-contain-skills .our-text-contain {
    padding: 0;
  }

  .wr-about .size-contain .our-contain {
    padding: 35px 15px;
  }

  .wr-home .wr-home-container {
    padding-top: 20vh;
  }

  .content-forest {
    height: 440px;
  }

  .wr-blog .blog-post-container {
    height: 560px;
  }

  .size-contain-wrap .circle-content .circle-contain .circle-contain-border {
    width: 70px;
    height: 70px;
  }

  .wr-portfolio .portfolio-container .portfolio-content span {
    font-size: 15px;
  }

  .wr-package-service .pricing-table {
    padding: 0;
    margin: 0 0 55px 0;
  }
}

/*# sourceMappingURL=main.css.map */
